.characterContent {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
}

h1,
h2 {
    color: rgb(7, 36, 46);
    padding: 20px;
}

.icon:hover {
    filter: grayscale(70%) sepia(70%);
}

@media only screen and (max-width: 1100px) {
    .characterContent {
        top: 40px;
        margin-top: -40px;
    }
}

/* This is how u do responsive css, use media queries */
@media only screen and (max-width: 750px) {
    .characterContent {
        max-width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .characterContent {
        max-width: 80%;
    }
}

.book-container{
    background-color: #e8dcca;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.book-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #e8dcca);
}

.book-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #e8dcca);
}

.book-current-page {
    font-size: 30px;
    margin: 0 20px;
    background-color: #f7f2e5;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 90%;
}

.book-separator {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 10px 0;
}
